@model ProductInventorySystem.Models.Product
@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>
<hr />
<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9">@Model.Category</dd>

    <dt class="col-sm-3">Price</dt>
    <dd class="col-sm-9">₹@Model.Price</dd>

    <dt class="col-sm-3">Stock Quantity</dt>
    <dd class="col-sm-9">@Model.StockQuantity</dd>
</dl>

<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-secondary ms-2" asp-action="Index">Back to List</a>
